
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

h1{
  font-size:50px;
  text-align:center;
  color:white;
  text-shadow:2px 2px 4px #000000;
}

.container{
  padding:40px;
  display:flex;
  justify-content:center;
  align-items: center;
}

#gameboard{
  display:flex;
  margin-top:35px;
  align-items:center;
}

.box{
  height:75px;
  width:75px;
  align-items: center;
  justify-content: center;
  display:flex;
  font-size:50px;
  font-weight: 500;
  border-right:2px solid;
  border-bottom: 2px solid;
  border-radius:25px;
  background-color: white;
  opacity: 0.5;
}

button:hover{
  cursor:pointer;
  transform:translateY(-2px);
}